@import "compass/css3/";

$light_brown: #ad3925;
$medium_brown: #913120;
$dark_brown: #44170e;
$footer_color: #bbbdbf;


// Base
* {
	-webkit-font-smoothing: antialiased;
}

h1 {}
h2 {
	text-transform: capitalize;
}

h3 {
	text-transform: capitalize;
}

body {
	.button,
	button.disabled, button[disabled], .button.disabled, .disabled.submit, .disabled.button-xs, .button[disabled], [disabled].submit, [disabled].button-xs,
	button.disabled:hover, button[disabled]:hover, .button.disabled:hover, .disabled.submit:hover, .disabled.button-xs:hover, .button[disabled]:hover, [disabled].submit:hover, [disabled].button-xs:hover {
	  background: $dark_brown;
	}

	.button:hover {
	  background: $medium_brown;
	}

	textarea { 
		height: 200px;
	}

	small {
		font-size: 85%;
	}

	a {
		color: $light_brown;
	}

	a:hover {
		color: $dark_brown;
	}
} 

// Header
header {
	background: url(/assets/header.png) center no-repeat;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
}

// Homepage
#category_holder {
	height: 460px;
	background: url(/assets/category_background.jpg) center no-repeat;
}

button.category_link {
	color: #fff;
	font-size: 17px;
	text-align: center;
	background: $light_brown;
	border: 1px solid $dark_brown;
	padding: 7px 10px; 
	@include border-radius(4px);
	width: 130px;
	display: inline-block;
	margin-right: 10px;
}

button.category_link:last-of-type {
	margin-right: 0px;
}

button.category_link.active {
	background: $dark_brown;

}

button.category_link:hover { 
	background: $medium_brown;
}

.join {
	text-align: center;

	#join_holder {
		margin-top: 150px;

		a {
		color: #fff;
		font-size: 50px;
		text-align: center;
		background: $dark_brown;
		border: 1px solid $dark_brown;
		padding: 15px 30px; 
		@include border-radius(4px);
		text-transform: uppercase;
	}
	}
}

.need_heading {
	color: #fff;
	text-align: center;
	margin-top: 50px;

	h2 {
		color: #fff;
	}

	p {

	}
}

#browse_needs_title {
	height: 100px;
	background: url(/assets/browse_needs.png) center no-repeat;
	margin-top: 60px;
}


// Cards
#cards_holder { 
	margin-top: 30px;
}

.card {
	margin-bottom: 30px;

	.card_body {
		background: #fff;
		padding: 15px 15px 15px 25px;
		color: $dark_brown;
		border-left: 1px solid $dark_brown;
		border-bottom: 1px solid $dark_brown;
		height: 240px;
		margin-bottom: 10px;

		p {
			margin-bottom: 0px;
		}
	}

	.category_list {
		width: 32px;
		height: 240px;
		position: absolute;
		left: 0px;
		top: 15px;

	}

	.card_meta {
		.card_name {
			font-weight: bold;
		}
		.card_date {
			font-size: 11px;
			font-style: italic;
		}
	}
}


.category_symbol {
	width: 32px;
	height: 32px;
	margin-bottom: 15px;
}

.work { background: url(icons/work.png) }
.home { background: url(icons/home.png) }
.auto { background: url(icons/auto.png) }
.bills { background: url(icons/bills.png) }
.education { background: url(icons/education.png) }
.borrow { background: url(icons/barrow.png) }
.other { background: url(icons/other.png) }



// Footer 
footer {
	background: #44170e;
	margin-top: 30px;
	color: $footer_color;
	padding: 30px 0;
	font-size: 14px;

	a, h3 {
		color: $footer_color;
	}
}

#about {
	border-bottom: 1px solid $footer_color;
	margin-bottom: 15px;
}



// Needs
.user_list_block {
	border-bottom: 1px solid #fff; 
	margin-bottom: 30px;
}

.need_title {

}

.need_body {

}

ul.need_categories {
	list-style: none;
	li {

	}
}