@import "compass/css3/";

$light_brown: #ad3925;
$dark_brown: #44170e;


// Base
* {
	-webkit-font-smoothing: antialiased;
}

// Header
header {
	background: url(/assets/header.png) center no-repeat;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
}

// Homepage
#category_holder {
	height: 460px;
	background: url(/assets/category_background.jpg) center no-repeat;
}

span.category_link {
	color: #fff;
	font-size: 17px;
	text-align: center;
	background: $light_brown;
	border: 1px solid $dark_brown;
	padding: 5px 10px; 
	@include border-radius(4px);
}

span.category_link.active {
	background: $dark_brown;
	border: 1px solid $light_brown;
}

.join {
	text-align: center;

	#join_holder {
		margin-top: 150px;

		a {
		color: #fff;
		font-size: 50px;
		text-align: center;
		background: $dark_brown;
		border: 1px solid $dark_brown;
		padding: 15px 30px; 
		@include border-radius(4px);
		text-transform: uppercase;
	}
	}
}

.need_heading {
	color: #fff;
	text-align: center;
	margin-top: 50px;

	h2 {
		color: #fff;
	}

	p {

	}
}

#browse_needs_title {
	height: 100px;
	background: url(/assets/browse_needs.png) center no-repeat;
	margin-top: 60px;
}


// Cards
#cards_holder { 
	margin-top: 30px;
}

.card {
	margin-bottom: 30px;

	.card_body {
		background: #fff;
		padding: 15px;
		color: $dark_brown;
		border-left: 1px solid $dark_brown;
		border-bottom: 1px solid $dark_brown;
		height: 240px;
		margin-bottom: 10px;

		.category_symbol {

		}
		p {
			margin-bottom: 0px;
		}
	}

	.card_meta {
		.card_name {
			font-weight: bold;
		}
		.card_date {
			font-size: 11px;
			font-style: italic;
		}
	}
}